body {
    display: flex;
    justify-content: center;
    background-color: #121212;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 2px;
    width: 90ch;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-header{
    padding: 10px;
    margin-bottom: 70px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: rgb(140, 0, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
    background-color: #121212;
}

.box-content {
    width: 80%;
    height: 15%;
    padding: 10px;
    border: solid 1px rgb(140, 0, 255) !important;
    border-radius: 2px;
    font-family: 'Times New Roman';
    font-size: 1rem;
    background-color: #121212 !important; 
    color: white; 
    box-sizing: border-box;
    ::placeholder{
        color: rgb(255, 255, 255) !important;
    }
}


.submit {
    padding: 10px;
    margin-top: 70px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    background-color: #6200ea;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #3700b3;
}