<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="box">
      <div class="box-header">Fake News Detector</div>
      <input type="text" class="box-content" placeholder="Enter News" />
      <button class="submit">Submit!</div>
    </div>
    <p class="bg-credits">Photo by <a href="https://unsplash.com/@rishabhben?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Rishabh Sharma</a> on <a href="https://unsplash.com/photos/R-js25Pv1LQ?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
  </body>
</html>
